[Settings]
ShowAllProcesses=TRUE
MorePrecision=FALSE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=SMALL
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=0
SortType=0
WindowWidth=776
WindowHeight=528
HandlePosition=213
ProcessTreeView=TRUE
