@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:-moz-any(#content,#appcontent) browser {
  margin-right: -14px !important;
  overflow-y: scroll;
  margin-bottom: -14px !important;
  overflow-x: scroll;
}

#TabsToolbar-customization-target, #nav-bar-customization-target {
  background-color: #1b1d24;
  border: none;
}

#urlbar-zoom-button, #urlbar-results, #urlbar-container, #url-bar,
#urlbar-page-action, #page-action-buttons {
  background-color: #1b1d24;
}

.urlbar-input-box {
  border: none;
  background-color: #1b1d24;
  color: #acb1b8;
  font-family: DejaVuSansMono Nerd Font;
}

.tab-label-container {
  color: #acb1b8;
  font-family: DejaVuSansMono Nerd Font;
}

#back-button, #forward-button, #identity-box, #PanelUI-button, #reload-button, #stop-button,
.tab-icon-image, .urlbar-history-dropmarker, .tab-close-button {
  display: none;
}

.tab-content:hover {
  background-color: #b5bdc2;
}

.tab-icon-image[pinned] {
  display: block;
}

.tab-background[selected="true"], .tabbrowser-tab:not([visuallyselected="false"]) {
  background-color: #1b1d24;
  --tab-line-color: none !important;
  background-image: none !important;
}
