* {
  all: unset;
}

.panel, .right-menu, window {
  font-family: "Migu 1P";
  background-color: #1a1b26;
  color: #a9b1d6;
  padding: 10px;
  border-radius: 12px;
}

.right-menu {
  border-color: #24283b;
  border-style: solid;
  border-width: 2px;
}

.mem-label, .cpu-label, .disk-label {
  margin-bottom: 20px;
}

.mem, .cpu, .disk {
  color: #9ece6a;
  background-color: #414868;
  border-radius: 20px;
}

.calendar {
  border: none;
}

.calendar.header {
  border: none;
}

.right-menu-actions {
  background-color: #24283b;
  border-radius: 6px;
  color: #cfc9c2;
}

.sidestuff {
  padding-right: 10px;
}

.sidestuff slider {
  all: unset;
  color: #ff9e64;
}

.metric scale trough highlight {
  all: unset;
  background-color: #73daca;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #73daca;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.keyboard {
  padding-right: 6px;
}

.volume {
  padding-right: 6px;
}

.workspaces {
  padding-left: 10px;
}

.workspaces button:hover {
  color: #73daca;
}

.active-workspace {
  color: #9ece6a;
}

.urgent-workspace {
  color: #e0af68;
}
