[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ross/Desktop/VirtualAGC.desktop]
row=3
col=0

[/home/ross/Desktop/EVE Online.desktop]
row=4
col=0

[/home/ross/Desktop/steam.desktop]
row=5
col=0

[63cfaea2-24e6-4303-9df1-65ca7ec44b26]
row=0
col=0

[/]
row=1
col=0

[/home/ross]
row=2
col=0

